.overview{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
justify-items: center;
align-items: center;
}

.overview > * {
    grid-column: 1;
    grid-row: 1;
    
}
 
.overview__ul{
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 1rem;
}


.overview__menu {
    border: 2px solid #8C2704;
    border-radius: 2rem;
    padding: 2rem;
    grid-column: 2;
}

.overview__ul__li{
    height: 30vh;
    width: 30vh;
    border: 0.5rem solid #8C2704;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview__ul>.overview__ul__li:nth-of-type(1) {
   grid-column: 1;
   grid-row: 1;
   align-self: end;
}

.overview__ul>.overview__ul__li:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
}

.overview__ul>.overview__ul__li:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
}

.overview__ul>.overview__ul__li:nth-of-type(4) {
    grid-column: 3;
    grid-row: 2;
    align-self: start;
}

.overview__ul>.overview__ul__li:nth-of-type(5) {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}

.overview__ul>.overview__ul__li:nth-of-type(6) {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
}

.overview_menu{
    grid-template-columns: 1fr 1fr;
}
