.overview{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
justify-items: center;
align-items: center;
}

.overview > * {
    grid-column: 1;
    grid-row: 1;
    
}


 
.overview__ul{
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 1rem;
}


.overview__menu {
    border: 2px solid #8C2704;
    border-radius: 2rem;
    padding: 2rem;
    grid-column: 2;
}

.overview__ul__li{
    height: 30vh;
    width: 30vh;
    border: 0.5rem solid #8C2704;
    border-radius: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: tableEnter 0.4s ease-out;
}

.overview__ul__li__buttons{
    display: flex;
    /* flex-direction: column; */
    gap: 1rem;
}

.overview__ul>.overview__ul__li:nth-of-type(1) {
   grid-column: 1;
   grid-row: 1;
   align-self: end;
}

.overview__ul>.overview__ul__li:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
}

.overview__ul>.overview__ul__li:nth-of-type(3) {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
}

.overview__ul>.overview__ul__li:nth-of-type(4) {
    grid-column: 3;
    grid-row: 2;
    align-self: start;
}

.overview__ul>.overview__ul__li:nth-of-type(5) {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}

.overview__ul>.overview__ul__li:nth-of-type(6) {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
}

.overview_menu{
    grid-template-columns: 1fr 1fr;
}

.overview__ul__focused{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.overview__menu__list__li{
    justify-content: space-between;
}

.menu__list__li__add{
    display: flex;
    display: flex;
    gap: 0.4rem;
}

.menu__list__li__name{
display: flex;
gap: 0.2rem;
}

.overview__menu__list__li {
    display: flex;
}

.overview__menu__list{
display: flex;
flex-direction: column;
gap: 1rem;
margin-block-end: 1rem;
}


.overview__menu__list__li__joke{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #8C2704;
    padding: 1rem;
    border-radius: 2rem;
}

.bill__buttons{
    display: flex;
    gap: 1rem;
}

.joke__thankyou{
    grid-column: 1/3;
    height: fit-content;
}

.bill__ul__li{
    display: flex;
    justify-content: space-between;
}

.overview__incoming{
    border: 0.5rem solid #8C2704;
    border-radius: 2rem;
    padding: 2rem;
    width: fit-content;
}

.laughing {
    animation: rainbow-laugh 1s linear;
}

@keyframes rainbow-laugh {
    0% {
        filter: hue-rotate(0deg);
    }

    25% {
        filter: hue-rotate(90deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    75% {
        filter: hue-rotate(270deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes tableEnter {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.98);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
