:root{
  --primary-color:#8C2704;
}

#root {
  margin: 0 auto;
  padding: 2vw;
}

.dashboard__menu__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

h1{
  text-align: center;
  width: min-content;
}

.hidden{
  display: none;
}

body{
  font-family: "League Spartan", serif;
}

.dashboard__menu{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

.dashboard{
  display: flex;
  animation: fadeIn 0.4s ease-in forwards;
  gap: 8vw;
  flex-wrap: wrap;
}

button {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

.strong{
  font-weight: bold;
}

button:active {
  background-color: var(--primary-color);
  color: #F2D8C9;
}

button:focus {
  outline: 0.2rem solid var(--primary-color);
  outline-offset: 0.2rem;
}

.dashboard__section__joke{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::placeholder{
  color: #f2d8c98b;
}

/* if width of the device is smaller than 740 then overview__ul is display flex flex direction column */